<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Peanut Documentation | {title}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/documentation.css">
	</head>
	<body>
		<div id="container">
			<h1><a href="/" title="Peanut CMS">Peanut</a>: {title}</h1>
			<div id="summary">
				{summary}
			</div>

			<div id="body">
				{body}
			</div>
			<p>Copyright &copy; 2011 <a href="http://www.purple-dogfish.co.uk" title="Purple Dogfish Ltd">Purple Dogfish</a>. Running on <a href="http://peanutcms.com" title="Peanut CMS">Peanut</a> <em>(of course)</em>. Memory usage {memory_usage}.</p>
		</div>
	</body>
</html>
